@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Add a new stylist</h3>
@using (Html.BeginForm())
{
  <div class="formbox">
  @Html.Label("first name:")
  @Html.TextBoxFor(model => model.FirstName)
  @Html.Label("last name:")
  @Html.TextBoxFor(model => model.LastName)
  </div>
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all Stylist", "Index")</p>